// container for projects and background
.main {
  display: grid;
  grid-template-columns: 1.5fr 0.1fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
    h1 {
      text-align: center;
    }
    
   

  #arrows-main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:center;
    }
    .next-section-butt {
      cursor: pointer;
      color: darkorange;
  }
  // background section
  h1 {
    font-size: 2.5rem;
  }
  p {
    text-indent: 10%;
    text-align: justify;
    font-weight:bolder;
    font-size: 1.9em;
  }
  // projects section
  #projects-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
    max-height:95vh;   
  }
  #projects-scroll {
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .project {
    display: flex;
    flex-direction: row;
    img {
      max-height: 150px;
      max-width: 300px;
      min-width: 300px;
    }
    .project-info {
      margin: auto;
      list-style-type: none;
      text-align: center;
      :nth-child(3) {
        list-style-type: square;
      }

        h4 {
          margin:0;
        }

        .project-links {
          margin-top:10px;
        }
        a {
          text-decoration: none; 
          border-top: 1px solid lightgray;
          border-right: 2px solid lightgray;
          border-left: 2px solid lightgray;
          border-bottom: 5px solid lightgray;
          margin: 5px;
          padding: 2px;
          box-shadow: 0 0 0 1px ;
          border-radius: 3px;
          color: inherit;
        }
    }
  }
}
// tablet
@media only screen and (max-width:1024px) {
  .main {
      display: flex;
      flex-direction:column;
      #projects-scroll {
        height: 50%;
        margin: 0px;
      }
      
      #arrows-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
     p{
      font-size: 1.2em;
     }
     #background-main {
       padding: 0 20px;
     }
     
  }

}
@media only screen and (max-width: 768px) {
  .main {
    display:flex;
    flex-direction: column;
  }
  #projects-scroll {
    padding-bottom:7rem;
  }

}

// mobile

@media only screen and (max-height: 675px) {
  .main {
    h1 {
      font-size: 20px;
      margin-bottom: 0;
    }
    font-size: 10px;
    #projects-main {
      border: 1px solid red;
      #projects-scroll {
        padding-bottom:0;
      }
      .project-links {
        padding-bottom: 10px;
      }
      
      .project {
        flex-direction: column;
        margin-bottom: 5px;
      }

    }
  }
}





 

