.links-closing {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 0.1fr 1.2fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . .";

      background-color: lightgray;

      .links {
          margin: auto;
          img {
            width: 100px;
          }
          img:hover{
            animation: blink .2s step-end infinite alternate; 

          }
          @keyframes blink { 
            50% { 
              border-bottom: 30px solid transparent;
            } 
         }

          a {
            color: inherit;
          }

          .closing-email:hover {
            animation: blink .2s step-end infinite alternate; 
          }
         
      }

      

      .next-section-butt {
        
        cursor: pointer;
        color: darkorange;
    }
    footer {
      a {
        text-decoration: none;
        color: black;
      }
      a:hover{
      color: darkorange;
      text-shadow: 0.5px 0.5px black;
      text-decoration: none;
      }
    }
  }

  @media only screen and (max-height: 675px) {
    .links-closing {
      .links {
        img {
          width: 40px;
        }
        .closing-email {
          width: 40px;
        }
      }
    }
  }