.App {
  display: grid;
  font-size: 1.3rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";

    .intro, .main, .links-closing {
      min-height: 100vh;
      max-height: 100vh;
      max-height: 100vw;
      max-height: 100vw;
    }

    * {
      font-family: 'Source Code Pro', monospace;  
    }
  }
  